html,
body {
    font-family: 'Microsoft YaHei';

    position: relative;
}

body {
    padding-top: 66px;
}

a,
a:focus {
    text-decoration: none !important;

    outline: 0 !important;
}

button,
button:focus {
    outline: 0 !important;
}


/*nav部分
---------------------------------------------------------------------------------*/

.navbar-default {
    z-index: 2001;

    margin-bottom: 0;
    padding-top: 20px;

    border-color: transparent;
    border-radius: 0;
    background: transparent;
}

.navbar-default .navbar-brand {
    width: 90px;
    height: 50px;

    background: url(http://oqlse9rck.bkt.clouddn.com/logo2.png) no-repeat center center;
    background-size: cover;
}


.navbar-default .navbar-nav > li {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-default .navbar-nav .register {
    padding-left: 0;
}

.navbar-default .navbar-nav > li > a {
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 0;

    color: rgba(255, 255, 255, .75);
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid #a9a9a9;
    border-bottom-color: rgba(255, 255, 255, .25);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: rgba(255, 255, 255, .75);
    background-color: transparent;
}

.navbar-default .open > .dropdown-menu {
    background: rgba(255, 255, 255, .8);
}

.navbar-default .badge {
    position: relative;
    top: -2px;

    padding: 3px 6px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
    background-color: transparent;
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
    max-height: 500px;
}

@media (max-width: 768px) {
    .navbar-default {
        padding-top: 5px;
        padding-right: 10px;
        padding-left: 10px;

        transition: background 1s;
    }
    .navbar-default .navbar-brand {
        padding: 16px 15px;
    }
    .navbar-default .navbar-nav .register {
        padding-left: 15px;
    }
}

.navbar-default .navbar-toggle:focus {
    background: transparent;
}

.nav-scroll {
    padding-top: 5px;
    padding-bottom: 10px;

    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background: rgba(255, 255, 255, .97);
}

.nav-scroll .navbar-nav > li > a {
    padding-bottom: 7px;

    color: #333;
}

.nav-scroll .navbar-brand {
    padding: 16px 15px;

    color: #333;
}

.nav-scroll .navbar-brand:focus,
.nav-scroll .navbar-brand:hover {
    color: #666;
}

.nav-scroll .navbar-nav > li > a:focus,
.nav-scroll .navbar-nav > li > a:hover {
    color: #333;
    border-bottom: 2px solid #333;
}

.nav-scroll .navbar-nav > .active > a,
.nav-scroll .navbar-nav > .active > a:focus,
.nav-scroll .navbar-nav > .active > a:hover {
    color: #333;
    border-bottom: 2px solid #333;
}

.nav-scroll .navbar-nav > .open > a,
.nav-scroll .navbar-nav > .open > a:focus,
.nav-scroll .navbar-nav > .open > a:hover {
    color: #333;
}


/*footer*/

.footer {
    margin-top: 20px;
    margin-bottom: 30px;

    text-align: center;
}


/*注册
-------------------------------------------------*/

.modal {
    z-index: 99999;
}

.modal .modal-title {
    font-size: 16px;

    color: #888;
}

.modal .modal-body {
    padding: 0;
}

.modal .modal-body .input-wrapper {
    position: relative;

    border-bottom: 1px solid #e5e5e5;
}

.modal .modal-body .input-wrapper:last-child {
    border: none;
}

.modal .modal-body .input-wrapper input {
    font-size: 14px;
    line-height: 18px;

    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 15px 15px;

    color: #666;
    border: 0;
    outline: 0;
}

.modal .modal-body .input-wrapper span {
    font-size: 12px;

    position: absolute;
    top: 15px;
    right: 15px;

    color: #e74c3c;
}

.modal .modal-body .input-wrapper span.pw-error {
    right: 40px;
}

.modal .modal-body .input-wrapper span.code-error {
    right: 88px;
}

.modal .modal-body .input-wrapper span.email-code-error {
    right: 100px;
}

.modal .modal-body .input-wrapper button {
    position: absolute;
    top: 0;
    right: 0;

    padding-top: 14px;
    padding-bottom: 14px;

    color: #ababab;
    border: none;
    border-radius: 0;
    background: #f7f7f7;
}

.modal .modal-body .input-wrapper a {
    font-size: 17px;

    position: absolute;
    top: 13px;
    right: 15px;

    text-decoration: none;

    color: #a9a9a9;
}

.modal .btn-primary {
    border: none;
    background: #1e90ff;
}

.modal .btn-primary:hover {
    background: #1684ef;
}

.modal .back {
    margin-right: 15px;
}

#login .modal-footer {
    padding-top: 10px;
}

#login #login-btn {
    margin-top: 10px;
}

#login .login-help .col-xs-6 {
    padding: 0;
}

#login .login-help .remember-pw {
    text-align: left;
}

#login .login-help .col-xs-6 a {
    position: relative;
    top: 1px;

    text-decoration: none;

    color: #888;
}

#login .login-help .col-xs-6 label {
    font-weight: 500;

    position: relative;
    top: 1px;

    color: #888;
}

.cover {
    height: 200px;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 20px;

    text-align: center;

    color: #fff;
    background-image: url(http://oqlse9rck.bkt.clouddn.com/quiz.png);
    background-position: center center;
    background-size: cover;
}

.cover .quiz-title {
    text-align: center;

    color: #fff;
}

.cover .form-group {
    position: relative;

    margin-top: 30px;
}

.cover .form-group .search {
    font-size: 16px;

    height: auto;
    padding: 13px 30px;

    text-align: center;

    border: 2px solid transparent;
    border-radius: 0;
    box-shadow: none;
}

.cover .form-group a.btn-search {
    font-size: 24px;

    position: absolute;
    top: 12px;
    right: 25px;

    color: #eee;
}


/*内容部分
-------------------------------------------------------------*/

.quiz-container .new-quiz {
    padding: 10px 16px;

    color: #fff;
    border-color: #1e90ff;
    border-radius: 0;
    background-color: #1e90ff;
}

.quiz-container .new-quiz:hover {
    border-color: #1684ef;
    background-color: #1684ef;
}

.quiz-container .pull-right {
    margin-left: 10px;
}

.quiz-container .quiz-sort {
    padding: 10px 16px;

    border-radius: 0;
}

.quiz-container .dropdown-menu {
    border-radius: 0;
}

.quiz-container .quiz-screen {
    padding: 10px 16px;

    border-radius: 0;
}

.quiz-container #collapseScreen .well {
    border-radius: 0;
}

.quiz-container #collapseScreen .well .all {
    padding-top: 5px;

    white-space: nowrap;
}

.quiz-container #collapseScreen .well ul {
    padding-left: 0;

    list-style: none;
}

.quiz-container #collapseScreen .well ul li {
    display: inline-block;

    padding-top: 5px;
    padding-right: 20px;
}

.quiz-container #collapseScreen .well ul li.active a {
    color: #1e90ff;
}

.quiz-container #collapseScreen .well ul li a {
    color: #666;
}

.quiz-container #collapseScreen .well ul li a:hover {
    color: #1e90ff;
}

.quiz-container .quiz-list {
    padding-left: 0;

    list-style: none;
}

.quiz-container .quiz-list li {
    min-height: 53px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.quiz-container .quiz-list .user-img {
    font-size: 2.4rem;
    line-height: 46px;

    width: 46px;
    height: 46px;
    margin-right: 15px;

    border-radius: 50%;
}

.quiz-container .quiz-list .avatar {
    font-weight: normal;

    display: inline-block;

    text-align: center;

    color: #eee;
}

.quiz-container .quiz-list h2 {
    font-size: 18px;
    line-height: 22px;

    display: block;

    margin: 0;
    margin-left: 62px;

    word-wrap: break-word;
}

.quiz-container .quiz-list h2 a {
    text-decoration: none;

    color: #555;
}

.quiz-container .quiz-list .stats {
    font-size: 20px;
    line-height: 22px;

    margin-top: 7px;

    text-align: center;
}

.quiz-container .quiz-list .stats small {
    font-size: 12px;
    font-weight: 300;

    text-transform: uppercase;
}

.quiz-container .quiz-list .card {
    overflow: hidden;

    height: 53px;
    margin-top: 2px;
    padding-top: 6px;
    padding-left: 20px;

    text-align: left;

    border-left: 4px solid #ccc;
}
.quiz-container .quiz-list .card .glyphicon-question-sign {
    color: #f0ad4e;
}
.quiz-container .quiz-list .card .glyphicon-ok-sign {
    color: #5cb85c;
}
a.permalink {
    text-decoration: underline !important;

    color: #777;
}

@media (max-width: 991px) {
    .quiz-container .quiz-list .user-img {
        font-size: 1.5rem;
        line-height: 32px;

        width: 32px;
        height: 32px;
        margin-right: 8px;

        border-radius: 50%;
    }
    .quiz-container .quiz-list h2 {
        margin-left: 40px;
    }
}


/*提问按钮弹出框
---------------------------------------------------------*/

#new-quiz {
    top: auto;

    padding-right: 0 !important;
}

#new-quiz .modal-dialog {
    width: 100%;
    margin: 0;
}

#new-quiz .modal-dialog .modal-content {
    position: relative;

    border-radius: 0;
}

#new-quiz .full-screen {
    line-height: 32px;

    display: inline-block;

    width: 32px;
    height: 32px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background: #333;
}

#new-quiz .new-quiz-body {
    position: relative;

    padding: 15px;
}

#new-quiz .new-quiz-body .input-wrapper {
    border: none;
}

#new-quiz .new-quiz-body .wangEditor-container {
    border: none;
}

#new-quiz .new-quiz-body .wangEditor-container .wangEditor-menu-container {
    border: none;
}

#new-quiz .new-quiz-body #text-editor {
    border: 1px solid #ededed;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

#new-quiz .new-quiz-body .radio-wrapper {
    padding-top: 15px;
}

#new-quiz .btn {
    padding: 10px 16px;

    border-radius: 0;
}

#new-quiz .btn-sm {
    padding: 5px 10px;
}

#new-quiz .modal-footer {
    border: 0;
}

.wangEditor-menu-container {
    position: static !important;

    width: 100% !important;
}


/*quiz-detal.html
---------------------------------------------------------*/

.quiz-detal h1 {
    font-size: 28px;
    font-weight: 300;
    line-height: 40px;

    margin-bottom: 30px;
}

.quiz-detal .icon img {
    font-size: 2.4rem;
    line-height: 46px;

    width: 46px;
    height: 46px;
    margin-right: 15px;

    border-radius: 50%;
}

.quiz-detal .content {
    overflow: hidden;

    margin-top: -43px;
    margin-left: 61px;
    padding-bottom: 1px;

    word-wrap: break-word;
}

.quiz-detal h1 .tip {
    font-size: 16px;

    color: #666;
}

.quiz-detal .stats {
    font-size: 20px;
    line-height: 22px;

    float: left;

    margin: 0 10px 0 10px;

    text-align: center;
}

.quiz-detal .stats small {
    font-size: 12px;
    font-weight: 300;

    text-transform: uppercase;

    color: #777;
}

.quiz-detal .main-btn {
    padding: 10px 16px;

    color: #fff;
    border-color: #46b8da;
    border-radius: 0;
    background-color: #5bc0de;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: -100% !important;

    margin-top: -6px;
    margin-left: -1px;

    -webkit-border-radius: 0 6px 6px 6px;
       -moz-border-radius: 0 6px 6px;
            border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    float: right;

    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;

    content: ' ';

    border-width: 5px 0 5px 5px;
    border-style: solid;
    border-color: transparent;
    border-left-color: #ccc;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;

    margin-left: 10px;

    -webkit-border-radius: 6px 0 6px 6px;
       -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
}

.dropdown-sub {
    top: auto;
    right: 114px !important;
}

.quiz-detal .main-dropdown-menu {
    right: 0;
    left: auto;

    border-radius: 0;
}

.quiz-detal .post-tools a {
    padding-right: 10px;
}

.quiz-detal .asked {
    margin-top: 15px;
    margin-left: 60px;
    padding-left: 15px;

    border-left: 5px solid #eee;
}

.view-all {
    display: block;

    margin-top: 15px;
    margin-left: 60px;
}

@media (max-width: 991px) {
    .quiz-detal .icon img {
        font-size: 1.3rem;
        line-height: 23px;

        width: 23px;
        height: 23px;

        border-radius: 50%;
    }
    .quiz-detal h1 {
        font-size: 20px;
    }
    .quiz-detal .content {
        margin-top: -10px;
        margin-left: 0;
    }
    .quiz-detal .asked {
        margin-left: 30px;
    }
}


/*举报按钮弹出框
----------------------------------------------*/

#report .report-body {
    padding: 15px;
}

#report .report-body div {
    padding-bottom: 10px;
}

#report .report-body div.supplement {
    margin-top: 10px;
}

#report .report-body div:last-child {
    padding-bottom: 0;
}

#report .report-body div textarea {
    width: 100%;

    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

#report button {
    padding: 10px 16px;

    border-radius: 0;
}


/*分页插件
----------------------------------------------*/

.pagination {
    margin: 0;
}

.pagination li a {
    margin-left: 0;

    color: #666;
    border: 0;
}

.pagination > .active > a {
    border-color: #46b8da;
    background: #46b8da;
}
.nav-scroll .navbar-nav > li > a:focus {
    border-bottom: transparent;
}