.fc{
	color: #999999;
	font-size: 14px;
    line-height: 24px;	
}
#fm{
	color: #666666;
}
#fn{
	color: #666666;
}
#fb{
	color: #666666;
}
.more_information{
	font-size: 14px;
	color: #4b4b4b;
	text-decoration: none;
    letter-spacing: -0.48px;
    line-height: 24px;

}
/*.company{
	float: left;
}
.people{
	float: left;
}
.middle-inf{
	float: left;
}*/
